@import '~antd/dist/antd.css';

.vsc-controller {
  display: none; 
}

.ant-tabs > .ant-tabs-bar {
  margin-bottom: 0; 
}

.top-tabs .ant-tabs-content {
  border-left: 1px solid #ecedf0; 
  border-right: 1px solid #ecedf0; 
  border-bottom: 1px solid #ecedf0; 
}

.description {
  font-size: 18px;
}

.page-title {
  display: 'inline-block';
  margin: '0 .8em 0 0';
}

.bottom-spacing {
  height: 24px;
  background-color: "#fff"; 
}

.social-btn {
  margin-left: 5px; 
}

