@import '~antd/dist/antd.css';

.vsc-controller {
  display: none; 
}

.card-container > .ant-tabs > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs {
  background-color: #fff;
}

.card-container > .ant-tabs > .ant-tabs-bar {
  border-color: #fff;
  background-color: #fff;
}
